/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  /* ------------------------------------------------------Переменные---------------------------------------------------------------------- */
  --background-image: url(../images/cover-image-dark.png);
  /* Цвета. Темная тема*/
  --accent-color: #ff0070;
  --primary-color: #db00ff;
  --text-color: #f1b2ce;
  --background-color: #000028;
  /* ------------------------------------------------------Основные стили----------------------------------------------------------------- */
  /* ------------------------------------------------------Шапка-------------------------------------------------------------------------- */
  /* ------------------------------------------------------Блок с меню*/
  /* ------------------------------------------------------Список меню*/
  /* ------------------------------------------------------Элемент меню*/
  .header__theme-menu-item {
    color: var(--accent-color);
  }
  /* ------------------------------------------------------Кнопка меню*/
  /* ------------------------------------------------------Активная кнопка меню*/
  .header__theme-menu-button_active {
    border: 1px solid var(--accent-color);
  }
  /* ------------------------------------------------------Блок заголовка*/
  /* ------------------------------------------------------Заголовок*/
  /* ------------------------------------------------------Текст под заголовком*/
  /* ------------------------------------------------------Контент сайта------------------------------------------------------------------ */
  /* ------------------------------------------------------Блок с текстовым контентом*/
  /* ------------------------------------------------------Имя карточки*/
  .card-name {
    color: var(--accent-color);
  }
  /* ------------------------------------------------------Заголовок карточки*/
  /* ------------------------------------------------------Заголовок карточки (выделенный)*/
  /* ------------------------------------------------------Выделенный контекст карточки*/
  /* ------------------------------------------------------Текст карточки*/
  /* ------------------------------------------------------Ссылка*/
  /* ------------------------------------------------------Блок с картинками*/
  /* ------------------------------------------------------Карточка с картинкой*/
  /* ------------------------------------------------------Картинка*/
  /* ------------------------------------------------------Подвал*/
  /* ------------------------------------------------------Текст подвала*/

  /* ------------------------------------------------------Вспомогательный стиль------------------------------------------------------------ */
  /* ------------------------------------------------------Оформление заголовков*/
  .title-decor {
    color: var(--background-color);
    background-color: var(--accent-color);
  }
  /* ------------------------------------------------------Декоративный блок*/
  /* ------------------------------------------------------Текст в декоративном блоке*/
  .decorated-text {
    display: flex;
  }
  /* ------------------------------------------------------Декоративный элемент сверху*/
  .decorated-zone::after {
    border-color: var(--accent-color);
  }
  /* ------------------------------------------------------Декоративный элемент снизу*/
  .decorated-zone::before {
    border-color: var(--accent-color);
  }
  /* ------------------------------------------------------Декоративный элемент справа от текста*/
  .decorated-text::before {
    display: block;
  }
  /* ------------------------------------------------------Пункт меню при наведении*/
  .header__theme-menu-button:hover {
    border: 1px solid var(--accent-color);
  }
  /* ------------------------------------------------------Пункт меню при фокусе*/
  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--accent-color);
  }
  /* ------------------------------------------------------Ссылка при наведении*/
  /* ------------------------------------------------------Ссылка при фокусе*/
  /* ------------------------------------------------------Выравнивание кнопок для тёмной темы*/
  .header__theme-menu-button_type_dark {
    margin-top: 1px;
  }
  
}
