/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
 
:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  /* ------------------------------------------------------Переменные---------------------------------------------------------------------- */
  --background-image: url(../images/cover-image-dark.png);
  /* Цвета. Темная тема*/
  --accent-color: #ff0070;
  --primary-color: #db00ff;
  --menu-color: #ff0070;
  --menu-color-hover: rgb(255, 0, 112, 0.4);
  --text-color: #f1b2ce;
  --background-color: #000028;
  --card-name-color: #ff0070;
  --link-shadow-color: #ff0070;
  --title-decor-color: #000028;
  --decorated-zone-color: #ff0070;
}
/* ------------------------------------------------------Основные стили----------------------------------------------------------------- */
/* ------------------------------------------------------Шапка-------------------------------------------------------------------------- */
/* ------------------------------------------------------Блок с меню*/
/* ------------------------------------------------------Список меню*/
/* ------------------------------------------------------Элемент меню*/
/* ------------------------------------------------------Кнопка меню*/
/* ------------------------------------------------------Активная кнопка меню*/
/* ------------------------------------------------------Блок заголовка*/
/* ------------------------------------------------------Заголовок*/
/* ------------------------------------------------------Текст под заголовком*/
/* ------------------------------------------------------Контент сайта------------------------------------------------------------------ */
/* ------------------------------------------------------Блок с текстовым контентом*/
/* ------------------------------------------------------Имя карточки*/
/* ------------------------------------------------------Заголовок карточки*/
/* ------------------------------------------------------Заголовок карточки (выделенный)*/
/* ------------------------------------------------------Выделенный контекст карточки*/
/* ------------------------------------------------------Текст карточки*/
/* ------------------------------------------------------Ссылка*/
/* ------------------------------------------------------Блок с картинками*/
/* ------------------------------------------------------Карточка с картинкой*/
/* ------------------------------------------------------Картинка*/
/* ------------------------------------------------------Подвал*/
/* ------------------------------------------------------Текст подвала*/
/* ------------------------------------------------------Вспомогательный стиль------------------------------------------------------------ */
/* ------------------------------------------------------Оформление заголовков*/
/* ------------------------------------------------------Декоративный блок*/
/* ------------------------------------------------------Текст в декоративном блоке*/
.theme-dark .decorated-text {
  display: flex;
}
/* ------------------------------------------------------Декоративный элемент сверху*/
/* ------------------------------------------------------Декоративный элемент снизу*/
/* ------------------------------------------------------Декоративный элемент справа от текста*/
.theme-dark .decorated-text::before {
  display: block;
}
/* ------------------------------------------------------Пункт меню при наведении*/
/* ------------------------------------------------------Пункт меню при фокусе*/
/* ------------------------------------------------------Ссылка при наведении*/
/* ------------------------------------------------------Ссылка при фокусе*/
/* ------------------------------------------------------Выравнивание кнопок для тёмной темы*/
.theme-dark .header__theme-menu-button_type_dark {
  margin-top: 1px;
}
