/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* ------------------------------------------------------Переменные---------------------------------------------------------------------- */
  --background-image: url(../images/cover-image-light.png);
  /* Цвета. Светлая тема*/
  --accent-color: #ff8dcb;
  --primary-color: #ffc2e6;
  --text-color: #353430;
  --background-color: #fff1f7;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

}

.theme-light .page {
  background-color: var(--background-color);
  background-image: var(--background-image);
}
/* ------------------------------------------------------Основные стили----------------------------------------------------------------- */
/* ------------------------------------------------------Шапка-------------------------------------------------------------------------- */
/* ------------------------------------------------------Блок с меню*/
/* ------------------------------------------------------Список меню*/
/* ------------------------------------------------------Элемент меню*/
.theme-light .header__theme-menu-item {
  color: var(--text-color);
}
/* ------------------------------------------------------Кнопка меню*/
/* ------------------------------------------------------Активная кнопка меню*/
.theme-light .header__theme-menu-button_active {
  border: 1px solid var(--text-color);
}
/* ------------------------------------------------------Блок заголовка*/
/* ------------------------------------------------------Заголовок*/
.theme-light .title {
  color: var(--primary-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}
/* ------------------------------------------------------Текст под заголовком*/
/* ------------------------------------------------------Контент сайта------------------------------------------------------------------ */
/* ------------------------------------------------------Блок с текстовым контентом*/
/* ------------------------------------------------------Имя карточки*/
.theme-light .card-name {
  color: var(--text-color);
}
/* ------------------------------------------------------Заголовок карточки*/
.theme-light .card-title {
  /* font-weight: 400; */
  font-weight: var(--font-weight);
}
/* ------------------------------------------------------Заголовок карточки (выделенный)*/
/* ------------------------------------------------------Выделенный контекст карточки*/
/* ------------------------------------------------------Текст карточки*/
.theme-light .card-text {
  color: var(--text-color);
}
/* ------------------------------------------------------Ссылка*/
.theme-light .link {
  text-shadow: 2px 1px var(--accent-color);
}
/* ------------------------------------------------------Блок с картинками*/
/* ------------------------------------------------------Карточка с картинкой*/
/* ------------------------------------------------------Картинка*/
/* ------------------------------------------------------Подвал*/
/* ------------------------------------------------------Текст подвала*/
.theme-light .footer-text {
  color: var(--primary-color);
  text-shadow: 2px 2px 0px var(--accent-color);
}
/* ------------------------------------------------------Вспомогательный стиль------------------------------------------------------------ */
/* ------------------------------------------------------Оформление заголовков*/
.theme-light .title-decor {
  color: var(--text-color);
  background-color: var(--accent-color);
}
/* ------------------------------------------------------Декоративный блок*/
/* ------------------------------------------------------Текст в декоративном блоке*/
.theme-light .decorated-text {
  display: none;
}
/* ------------------------------------------------------Декоративный элемент сверху*/
.theme-light .decorated-zone::after {
  border-color: var(--text-color);
}
/* ------------------------------------------------------Декоративный элемент снизу*/
.theme-light .decorated-zone::before {
  border-color: var(--text-color);
}
/* ------------------------------------------------------Декоративный элемент справа от текста*/
.theme-light .decorated-text::before {
  display: none;
}
/* ------------------------------------------------------Пункт меню при наведении*/
.theme-light .header__theme-menu-button:hover {
  border: 1px solid var(--text-color);
}
/* ------------------------------------------------------Пункт меню при фокусе*/
.theme-light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--text-color);
}
/* ------------------------------------------------------Ссылка при наведении*/
.theme-light .link:hover {
  text-decoration-color: var(--text-color);
}
/* ------------------------------------------------------Ссылка при фокусе*/
.theme-light .link:focus-visible {
  border: 1px solid var(--text-color);
}

@media (prefers-color-scheme: light) {
  /* ------------------------------------------------------Переменные---------------------------------------------------------------------- */
  :root {
    --background-image: url(../images/cover-image-light.png);
    /* Цвета. Светлая тема*/
    --accent-color: #ff8dcb;
    --primary-color: #ffc2e6;
    --text-color: #353430;
    --background-color: #fff1f7;
  }
  .page {
    background-color: var(--background-color);
    background-image: var(--background-image);
  }
  /* ------------------------------------------------------Основные стили----------------------------------------------------------------- */
  /* ------------------------------------------------------Шапка-------------------------------------------------------------------------- */
  /* ------------------------------------------------------Блок с меню*/
  /* ------------------------------------------------------Список меню*/
  /* ------------------------------------------------------Элемент меню*/
  .header__theme-menu-item {
    color: var(--text-color);
  }
  /* ------------------------------------------------------Кнопка меню*/
  /* ------------------------------------------------------Активная кнопка меню*/
  .header__theme-menu-button_active {
    border: 1px solid var(--text-color);
  }
  /* ------------------------------------------------------Блок заголовка*/
  /* ------------------------------------------------------Заголовок*/
  .title {
    color: var(--primary-color);
    text-shadow: 4px 4px 0 var(--accent-color);
  }
  /* ------------------------------------------------------Текст под заголовком*/
  /* ------------------------------------------------------Контент сайта------------------------------------------------------------------ */
  /* ------------------------------------------------------Блок с текстовым контентом*/
  /* ------------------------------------------------------Имя карточки*/
  .card-name {
    color: var(--text-color);
  }
  /* ------------------------------------------------------Заголовок карточки*/
  .card-title {
    /* font-weight: 400; */
    font-weight: var(--font-weight);
  }
  /* ------------------------------------------------------Заголовок карточки (выделенный)*/
  /* ------------------------------------------------------Выделенный контекст карточки*/
  /* ------------------------------------------------------Текст карточки*/
  .card-text {
    color: var(--text-color);
  }
  /* ------------------------------------------------------Ссылка*/
  .link {
    text-shadow: 2px 1px var(--accent-color);
  }
  /* ------------------------------------------------------Блок с картинками*/
  /* ------------------------------------------------------Карточка с картинкой*/
  /* ------------------------------------------------------Картинка*/
  /* ------------------------------------------------------Подвал*/
  /* ------------------------------------------------------Текст подвала*/
  .footer-text {
    color: var(--primary-color);
    text-shadow: 2px 2px 0px var(--accent-color);
  }
  /* ------------------------------------------------------Вспомогательный стиль------------------------------------------------------------ */
  /* ------------------------------------------------------Оформление заголовков*/
  .title-decor {
    color: var(--text-color);
    background-color: var(--accent-color);
  }
  /* ------------------------------------------------------Декоративный блок*/
  /* ------------------------------------------------------Текст в декоративном блоке*/
  .decorated-text {
    display: none;
  }
  /* ------------------------------------------------------Декоративный элемент сверху*/
  .decorated-zone::after {
    border-color: var(--text-color);
  }
  /* ------------------------------------------------------Декоративный элемент снизу*/
  .decorated-zone::before {
    border-color: var(--text-color);
  }
  /* ------------------------------------------------------Декоративный элемент справа от текста*/
  .decorated-text::before {
    display: none;
  }
  /* ------------------------------------------------------Пункт меню при наведении*/
  .header__theme-menu-button:hover {
    border: 1px solid var(--text-color);
  }
  /* ------------------------------------------------------Пункт меню при фокусе*/
  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--text-color);
  }
  /* ------------------------------------------------------Ссылка при наведении*/
  .link:hover {
    text-decoration-color: var(--text-color);
  }
  /* ------------------------------------------------------Ссылка при фокусе*/
  .link:focus-visible {
    border: 1px solid var(--text-color);
  }
}
